:root {
    --menu-bg-color: #0f2733;
    --menu-text-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #dee6eb;
}

.menu {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

#app {
    min-height: 100vh;
    margin: 0 0;
    padding: 0rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}