@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

:root {
    --menu-bg-color: #0f2733;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.menu {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

#app {
    min-height: 100vh;
    margin: 0 0;
    padding: 0rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.p-card-body::after {
    height: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0.4rem;
    display: block;
}
.p-card.uptodate>.p-card-body::after {
    background-color: rgb(2, 231, 2);
}
.p-card.outdated>.p-card-body::after {
    background-color: rgb(255, 178, 35);
}
.p-card.error>.p-card-body::after {
    background-color: red;
}
.p-card.ignored>.p-card-body::after {
    background-color: rgba(211, 211, 211, 0.562);
}