@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

:root {
    --menu-bg-color: #0f2733;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.menu {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

#app {
    min-height: 100vh;
    margin: 0 0;
    padding: 0rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}